@charset "UTF-8";

img {
    width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1280px;
    padding-inline: 16px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* ヘッダー */
.site-header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo {
    font-size: 28px;
    font-weight: bold;
    color: #2a72c7;
} */

.site-header__logo {
    padding: 20px;
}

.site-header__logo img {
    width: 200px;
}

.site-header__nav {
    display: flex;
    align-items: center;
}

.site-header__nav li {
    margin: 20px 30px 20px 0;
    position: relative;
}

.site-header__nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #000;
    transition: width 0.3s ease;
}

.site-header__nav a {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 4px;
}

.site-header__nav a:hover::after {
    width: 100%;
    background: #3984ee;
}

.nav_btn a {
    background-color: #08A4D6;
    background: linear-gradient(to bottom, #1cc8f0, #08A4D6);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 0 #057a9b, 0 10px 20px rgba(0, 0, 0, 0.25);
    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease,
        background-color 0.3s ease;
}

.nav_btn a::after {
    content: none;
}

.nav_btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    transform: skewX(-25deg);
    transition: left 0.4s ease;
}

.nav_btn a:hover {
    transform: translateY(-3px);
    box-shadow: 0 9px 0 #057a9b, 0 16px 24px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #2ee1ff, #0BB7EA);
}

.nav_btn a:hover::before {
    left: 150%;
}

.nav_btn a:active {
    transform: translateY(4px); /* 下に沈む */
    box-shadow: 0 2px 0 #057a9b; /* 影を小さく → 押された感 */
    background: linear-gradient(to bottom, #18b4d9, #0892bf);
}

/* メインビジュアル */
.hero {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 40px;
    display: flex;
    position: relative;
    justify-content: center;
}

.catch {
    font-size: 46px; 
    font-weight: 700;
    line-height: 1.35;
    color: #d9652f;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: rotate(-5deg);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    z-index: 10;
    max-width: 500px;
}

.hero-img-wrapper {
    width: 100%;
}

.hero-img-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    display: block;
}