@charset "UTF-8";

img {
    width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1280px;
    padding-inline: 16px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* ヘッダー */
.site-header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo {
    font-size: 28px;
    font-weight: bold;
    color: #2a72c7;
} */

.site-header__logo {
    padding: 20px;
}

.site-header__logo img {
    width: 200px;
}

.site-header__nav {
    display: flex;
    align-items: center;
}

.site-header__nav li {
    margin: 20px 30px 20px 0;
    position: relative;
}

.site-header__nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #000;
    transition: width 0.3s ease;
}

.site-header__nav a {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 4px;
}

.site-header__nav li:last-child {}

.site-header__nav a:hover::after {
    width: 100%;
    background: #3984ee;
}

.nav_btn {}

.nav_btn a {
    background-color: #08A4D6;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.nav_btn a:hover {
    transform: translateY(4px);
    box-shadow: 6px 2px 12px rgba(0, 0, 0, 0.2);
}

/* メインビジュアル */
.hero {
    width: 100%;
    padding: 40px 60px;
}

.catch {
    font-size: 40px;
    font-weight: bold;
    color: #e4551d;
    line-height: 1.4;
    margin-bottom: 20px;
    transform: rotate(-4deg);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.hero-img-wrapper {
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
}

.hero-img-wrapper img {
    width: 500px;
    border-radius: 4px;
    display: block;
}